# Entornos virtuales de Python
venv/
backend/venv/

# Caché de Python
__pycache__/
*.pyc

# Secretos y variables de entorno
.env
backend/.env

# Node / Frontend (para cuando configuremos la interfaz)
node_modules/
dist/
build/

.vscode/